*{
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Mulish", sans-serif;
}

body{
    padding: 0 7%;
}

section{
    margin: 3% 0%;
}

:root{
    --primary-color: #FF5400;
    --btn-txt-color: white;
    --banner-txt-color: white;
    --secondary-heading-color: black;
    --p-txt-color: rgba(19, 19, 24, 0.70);
    --section-heading-size: 2.5rem;
    --card-heading-size: 1.5rem;
    --p-txt-size: 1rem;

}

/* primary styles*/
.primary-btn {
    text-decoration: none;
    padding: 2% 6%;
    border-radius: 0.5rem;
    color: var(--btn-txt-color);
    background-color: var(--primary-color);
}

.primary-text {
    color: var(--p-txt-color);
    font-size: var(--p-txt-size);
    margin-bottom: 5%;
}

.section-title {
    text-align: center;
    color: var(--secondary-heading-color);
    font-size: var(--section-heading-size);
    font-weight: 800;
    margin-bottom: 5%;
}

.container-title{
    font-size: var(--card-heading-size);
    margin-bottom: 5%;
}

.card-title{
    font-size: var(--card-heading-size);
    margin-bottom: 5%;
}

/* Header style */

/*navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    padding: 1% 1%;
}

.web-logo{
    display: flex;
}

.web-title{
    font-size: 2.25rem;
    color: 131318;
    margin-left: 2rem;
}

.menu-icon{
    display: none !important;
}

.web-title::first-letter{
    color:var(--primary-color);
}

.web-title span{
    color: var(--primary-color);
}

.navigation ul{
    display: flex;
    margin-top: 1%;
}

.navigation ul li{
    list-style: none;
    margin-right: 30px;
}

.navigation ul li a{
    text-decoration: none;
    color: #424247;
    font-weight: bold;
}

.navigation ul li a:hover{
    color: var(--primary-color);
}

/* Banner section */

.banner{
    height: 70vh;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% 0;
    padding: 4%;
    border-radius: 1rem;
    color: white;
    text-align: center;
}

.banner h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 5% 0;
}

.banner p{
    margin-bottom: 5%;
    padding: 0 10%;
    font-size: var(--p-txt-size);
}

.banner-input{
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 1rem;
    padding: 1% 0%;
    width: 75%;
    margin: auto;
    position: relative;
    z-index: 0;
}

.banner-input input{
    padding: 2% 1%;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid white;
    margin-right: 2%;
}

.down-arrow{
    position: absolute;
    color: rgba(19, 19, 24, 0.50);
    top: 40%;
    left: 44%;
    cursor: pointer;
}

.down-arrow2{
    position: absolute;
    color: rgba(19, 19, 24, 0.50);
    top: 40%;
    left: 69%;
    cursor: pointer;
}

.search{
    position: absolute;
    color: var(--btn-txt-color);
    top: 40%;
    left: 79%;
}

/* main */

/* our popular tour section */

.popular-tour{
    display: flex;
}

.tour-descrb{
    width: 50%;
    padding: 2%;
}

.mountain-img{
    width: 50%;
    padding: 2%;
}

.mountain-img img{
    width: 100%;
}

.tour-descrb ul{
    margin-left: 4%;
    color: var(--p-txt-color);
    font-size: var(--p-txt-size);
}

.tour-descrb ul li{
    margin-bottom: 5%;
}

/* choose destination section*/

.destination{
    
    height: auto;
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.destination div{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    filter: grayscale(90%);
    transition: filter 0.7s;
}

.destination div:hover{
    filter: none;
}

.destination div img{
    width: 100%;
    height: 100%;
}

.destination div p{
    color: white;
    font-weight: bold;
    font-size: var(--card-heading-size);
    position: absolute;
    top: 50%;
    left: 35%;
}

#maldevs, #indonesia, #northamerica, #bangladesh, #uganda{
    grid-column: span 2;
}

/*why choose us section */

.our-service{
    padding: 3% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

#hotel-card, #location-card{
    grid-column: span 2;
}

#price-card{
    grid-area: 2 / 2 / 4 / 4;
}

.service{
    padding: 5%;
    background-color: rgba(251, 180, 99, 0.212);
    border-radius: 1rem;
    border-left: 5px solid var(--primary-color);
    box-shadow: 10px 10px 15px rgb(192, 178, 178);
}

.service-icon{
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    margin-bottom: 2%;
}

.service h3{
    font-size: var(--card-heading-size);
    margin-bottom: 2%;
}

/* deals and discount section */

#sajek{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#bandarban{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#coxbazar{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.deals-discount{ 
    padding: 5%;
    margin-top: 3%;
    border-radius: 1rem;
}

.deals-card{
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 1rem;
    border: 2px solid white;
    width: 40%;
    height: 50%;
    padding: 5%;
    transition: background-color 0.4s;
}

.deals-card:hover{
    background-color: white;
}

.deal-info{
    margin-bottom: 5%;
}

.info-icon{
    color: var(--primary-color);
    margin: 0 4%;
}

.price-text{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 8%;
}

#service-btn{
    margin-top: 8%;
    margin-left: 37%;
    display: inline-block;
}

/* get lost section */
.container{
    display: flex;
    width: 100%;
}

.txt-container{
    width: 50%;
    padding: 5%;
}

.txt-container ul li{
    margin-bottom: 8%;
    margin-left: 4%;
}

.video-container{
    width: 50%;
    padding: 5% 1%;
}

.video-container video{
    width: 100%;
    border-radius: 1rem;
}

/* customer review bonus section */

.users-review{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 15px;
}

.users-card{
    padding: 10% 8%;
    border-radius: 1rem;
    border-top: 3px solid #FF5400;
    border-bottom: 3px solid #FF5400;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px 15px rgb(189, 187, 187);
}

.review-txt{
    margin-bottom: 15%;
    font-size: 1.3rem;
}

.user{
    display: flex;
    justify-content: space-evenly;
}

.user-img img{
    border: 3px solid var(--primary-color);
    border-radius: 100%;
    width: 70%;
}

.rating > p, i{
    margin-bottom: 10%;
}

.rating i{
    color: var(--primary-color);
}

/* newsletter section */

.newsletter-container{
    display: flex;
}

.newsletter{
    width: 50%;
    padding: 5%;
}

.newsletter hr{
    margin: 10% 0;
}

.newsletter form{
    padding: 3%;
}

.newsletter form input{
    display: block;
    margin-bottom: 8%;
    padding: 3%;
    width: 80%;
    border-radius: 0.5rem;
    border: 1px solid rgb(207, 205, 205);
    background-color: #dddcdc;
    outline:none;
}

.newsletter form a{
    width: 87% ;
    display: inline-block;
    text-align: center;
}

.newsletter-img{
    width: 50%;
    position: relative;
    overflow: hidden;
}

.newsletter-img img{
    width: 100%;
    height: 90%;
    margin-top: 5%;
}

.discount-seal{
    text-align: center;
    background-color: #FF5400;
    border-radius: 1rem;
    position: absolute;
    bottom: 17%;
    left: 54%;
    transform: rotate(-45deg);
    width: 35%;
    padding: 5%;
    color: var(--banner-txt-color);

}

/* footer */

footer{
    text-align: center;
    padding-bottom: 5%;
}

.footer-logo{
    margin-left: 35%;
    margin-bottom: 5%;
}

.social-link{
    border: 1px solid red;
}

.fa-brands{
    font-size: 2rem;
    color: black;
    padding: 1%;
    margin-bottom: 5%;
}

.fa-brands:hover{
    color: var(--primary-color);
}

/********* Mobile Responsive ***********/

@media screen and (max-width: 576px) {

    /*header*/
    /*banner section*/

    .navigation ul{
        display: none;
    }

    .web-logo{
        width: 70%;
    }

    .web-logo img{
        height: 75%;
    }

    .web-title{
        font-size: 1.6rem;
        margin-top: 3%;
    }

    .menu-icon{
        display: block;
        font-size: 2rem;
        padding: 1%;
    }

    .banner{
        height: 60vh;
    }

    .banner h1{
        font-size: 2rem;
        margin-top: 35%;
        margin-bottom: 18%;
    }
    .banner-input{
        margin-top: 15%;
        padding: 3% 3%;
    }

    .banner-input input{
        margin-bottom: 3%;
    }

    .down-arrow{
        right: 5%;
        top: 32%;
    }

    .down-arrow2{
        left: 67%;
        top: 55%;
    }

    .search{
        left: 29%;
        top: 75%;
    }

    .primary-btn{
        display: inline-block;
        padding: 3% 17%;
    }

    /*main*/
    /*our popular tour section*/
    .popular-tour{
        flex-direction: column;
    }

    .tour-descrb{
        width: 100%;
    }

    .mountain-img{
        width: 100%;
        padding: 0;
    }

    /* choose destination section */

    .destination{
        width: 100%;
        grid-template-columns: auto;
    }

    .destination div{
        filter: none;
    }

    #srilanka, #kashmir{
        width: 144%;
    }

    /* why choose us section*/

    .our-service{
        grid-template-columns: auto;
    }

    #price-card{
        grid-area: 1 / 1 / 3 / 3;
    }

    /* deals and discount section */

    .deals-card{
        width: auto;
        margin-top: 50%;
        background-color: white;
    }

    #service-btn{
        margin: 5% 16%;
    }

    /* get lost section */
    .container{
        flex-direction: column-reverse;
    }

    .txt-container{
        width: auto;
    }

    .video-container{
        width: auto;
    }

    /* customer review bonus section */
    .users-review{
        grid-template-columns: 1fr;
    }

    /* newsletter section */

    .newsletter-container{
        flex-direction: column;
    }

    .newsletter form a{
        width: auto;
    }

    .newsletter, .newsletter-img{
        width: auto;
    }

    .discount-seal{
        padding: 4%;
    }
    #seal-text{
        font-weight: bold;
        font-size: 15px;
    }

    /* footer */

    footer{
        margin-top: 15%;
    }

    .footer-logo{
        margin: auto;
        margin-bottom: 5%;
    }

}